.month-header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
    position: sticky;
    top: 52px;
    background: white;
    z-index: 10;
    margin-top: 10px;
}

/* Only this scrolls */
.table-wrapper {
    overflow-x: auto;
    width: 100%;
    margin-top: 20px;
    border-right: 1px solid black;
}

/* Table can be wider than screen */
table {
    border-collapse: separate;
    border-spacing: 0;
    width: max-content;
    min-width: 100%;
    /* prevent overscroll from showing whitespace */
    overscroll-behavior-x: none;
}

th,
td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    white-space: nowrap;
    text-align: center;
    width: 60px;
    min-width: 60px;
}

th:last-child,
td:last-child {
    /* remove the border from the last cell */
    border-right: none;
}

/* weekday style */
.weekday {
    font-size: 12px;
    opacity: 0.6;
}

.date-number {
    font-size: 16px;
    font-weight: bold;
}

/* left & top edges of table */
tr th:first-child,
tr td:first-child {
    border-left: 1px solid black;
}

thead tr:first-child th {
    border-top: 1px solid black;
}

/* Sticky first column */
.habit-col,
tbody td:first-child {
    position: sticky;
    left: 0;
    z-index: 5;
    background: white;

    width: 140px;
    min-width: 140px;
    text-align: left;

    /* make the text wrap nicely */
    white-space: normal;
    max-width: 180px;
    word-break: break-word;
}

/* day cell styling */

.day-cell {
    cursor: pointer;
}

.day-cell:hover {
    background: #f0f0f0;
}

.day-cell.checked {
    background: #4caf50;
}

/* user input styling */

.habit-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;

    white-space: normal;
    word-break: break-word;
}

.habit-text {
    display: block;
    width: 100%;
    cursor: pointer;

    white-space: normal;
    word-break: break-word;
    line-height: 1.3;
}

/* styles for require habit text */

.habit-input.invalid {
    border: 2px solid #e53935;
    background: #ffecec;
}

.habit-input.invalid::placeholder {
    color: #e53935
}

/* navbar styles */
.navbar {
    position: sticky;
    top: 0;
    z-index: 20;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 24px;
}

.nav-left {
    font-weight: bold;
    font-size: 18px;
}

.nav-right a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/* styling for main page content */
.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 24px 40px 24px;
}